<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="https://activesoul8231.github.io/favicon%20(1).ico">
    <meta charset="UTF-8">
    <title>失物招领-发布寻物</title>
    <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/launchD.css">
    <script src="/js/heroJs/jquery.min.js"></script>
    <script src="/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <!--VUE-->
    <script src="/js/vue.js"></script>
    <script src="/js/heroJs/axios.min.js"></script>
    <!--VUE-->
    <script src="/js/popper/popper.js"></script>
    <script language="javascript" type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>

</head>
<body>
<div class="container-fluid" style="padding:0px;">
    <!--head-->
    <div class="container-fluid first">
        <div class="container ssss">
            <div class="row top">
                <div class="col-md-3 login" th:if="${sessionTest.islogin == 0}">
                    <a id="123456" class="btn btn-outline-light btn-sm" href="/tologin.html">登录</a>
                </div>
                <div class="col-md-3 login" th:if="${sessionTest.islogin == 1}">
                    <div class="row">
                        <div class="col-md">欢迎：[[${sessionTest.user.uName}]]</div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md">邮箱：[[${sessionTest.user.uEmail}]]</div>
                    </div>
                    <div class="row">
                        <div class="col-md"><a class="btn btn-outline-light btn-sm" href="/userDoLogout.html">注销登录</a></div>
                    </div>
                </div>
                <div class="col-md-6 logo">
                    <h1>院校失物招领</h1>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row middle">
                <div class="col-md-3"></div>
                <div class="col-md-2 hr">
                    <hr>
                </div>
                <div class="col-md-2 ">
                    服务于院校的便民网站
                </div>
                <div class="col-md-2 hr">
                    <hr>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row down">
                <div class="col-md .ml-auto">
                    <a class="menu" href="/">首页</a>
                </div>
                <div class="col-md .ml-auto">
                    <a class="menu" href="toListD.html">失物招领</a>
                </div>
                <div class="col-md .ml-auto">
                    <a class="menu" href="toListF.html">寻物启事</a>
                </div>
                <div class="col-md .ml-auto" th:if="${sessionTest.islogin == 0}">
                    <script>layer.msg("请登录")</script>
                    <a class="menu" href="/tologin.html" >个人中心</a>
                </div>
                <div class="col-md .ml-auto" th:if="${sessionTest.islogin == 1}">
                    <a class="menu" href="" >个人中心</a>
                </div>
            </div>
        </div>
    </div>
    <!--body-->
    <div class="container">
        <!--内容-->
        <div class="row massage">
            <div class="col-md">
                <form id="toLaunchF" action="/toLaunchF" method="post" enctype="multipart/form-data">
                    <!--丢失地点-->
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="exampleFormControlSelect1">丢失地点</label>
                            <select class="form-control" name="mAreaId" id="exampleFormControlSelect1" onclick="">
                                <option value="" selected>请选择...</option>
                                <option v-for="area in AAAlist.areaList" :value="area.areaId">{{area.areaName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="inputAddress">详细地址</label>
                            <input type="text" class="form-control"  name="mAreaDetail" id="inputAddress" placeholder="XX楼层XXX教室...">
                        </div>
                    </div>
                    <!--丢失物品-->
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="exampleFormControlSelect3">丢失物品种类</label>
                            <select class="form-control" name="mArticleTypeId" id="exampleFormControlSelect3">
                                <option value="" selected>请选择...</option>
                                <option v-for="article in AAAlist.articleList" :value="article.resId">{{article.resName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-10">
                            <label for="inputTitle">给你的信息想个醒目的标题</label>
                            <input type="text" class="form-control" name="mTitle" id="inputTitle" placeholder="寻物信息标题：XX附近丢失XXX">
                        </div>
                    </div>
                    <!--丢失时间联系方式-->
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="lostTime">丢失时间<footer class="blockquote-footer">请选择您丢失物品的日期</footer></label>
<!--                            <input class="form-control Wdate" id="lostTime" name="mArticleTime" type="text" onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})">-->
                            <input class="form-control" id="lostTime" name="mArticleTime" type="text">
                        </div>
                        <div class="form-group col-md-4">
<!--                            <label for="uName">联系人姓名<footer class="blockquote-footer">您登录账号的姓名将作为联系人姓名 <cite title="Source Title">请注册时认真填写信息</cite></footer></label>-->
                            <label for="uName">联系人姓名<footer class="blockquote-footer">您登录账号的姓名将作为联系人姓名</footer></label>
                            <input class="form-control" id="uName" type="text" th:value="${sessionTest.user.uName}"  placeholder="" readonly>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="uTel">联系方式<footer class="blockquote-footer">您登录账号的手机号将作为联系人手机号</footer></label>
                            <input class="form-control" id="uTel" type="text" th:value="${sessionTest.user.uTelephone}" placeholder="您登录账号的手机号将作为联系人手机号，请注册时认真填写手机号" readonly>
                        </div>

                    </div>

                    <div class="form-group">

<!--                        <div class="layui-upload-drag" id="test10">-->
<!--                            <i class="layui-icon"></i>-->
<!--                            <p>点击上传，或将文件拖拽到此处</p>-->
<!--                            <div class="layui-hide" id="uploadDemoView">-->
<!--                                <hr>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <img src="" alt="上传成功后渲染" style="max-width: 196px" id="fileimg">-->
                        <label for="imgs">图片上传</label>
                        <input type="file" name="upload" class="form-control-file" id="imgs">
                    </div>
<!--                    <input type="hidden" name="mUId" th:value="${sessionTest.user.uId}">-->
                    <input class="btn btn-outline-success rounded-pill" type="button" onclick="submitForm()" style="margin-left:40%" value="确认发布">
                </form>
            </div>
        </div>
    </div>
    <!--footer-->
    <div id="Footer">
        <p class="top-nav">
            <span style="color: #000">友情链接：</span>

            <a href="#" target="_blank">XXXX科技有限公司</a>

            <a href="#" target="_blank">XXXXXX公司</a>

            <a href="#" target="_blank">XX信息网</a>

            <a href="#" target="_blank">XXX</a>
        </p>

        <p class="site-info">
            <span>Copyright © 2019-2020 DEDECMS. 仅为个人学习项目 版权所有<a href="/" target="_blank">Power by 集宁师范学院-计算机学院-wenlan</a> 备案号：<a href="#" > 粤ICP备00000000号-1</a></span>
        </p>
        <a href="http://www.beian.miit.gov.cn" target="_blank"></a>
    </div>
</div>
<script src="/layui/layui.all.js"></script>
<script src="/js/launchFind.js"></script>
<script type="text/javascript" th:inline="javascript">
    var vue = new Vue({
        el:'#toLaunchF',
        data:{
            AAAlist:[]
        },
        mounted:function () {
            this.findAreaAndArticle();
        },
        methods:{
            findAreaAndArticle:function () {
                var str = this;
                var url = "/getAreaAndArticleList"
                layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                })
                axios.get(url).then(function (data) {
                    console.log(data);
                    if (data.status== '200'){
                        str.AAAlist = data.data.data;
                    }else {
                        layer.msg("连接服务器失败")
                    }
                    layer.closeAll();
                })
            }
        }
    })

    layui.use(['laydate','upload'],function () {
        //日期组件
        var laydate = layui.laydate;
        laydate.render({
            elem: '#lostTime'
        });

        // //拖拽上传
        // var upload = layui.upload;
        // upload.render({
        //     elem: '#test10'
        //     ,url: ''
        //     ,auto: false //选择文件后不自动上传
        //     ,bindAction: '#testListAction' //指向一个按钮触发上传
        //     ,choose: function(obj){
        //         //将每次选择的文件追加到文件队列
        //         var files = obj.pushFile();
        //
        //         //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
        //         obj.preview(function(index, file, result){
        //             console.log(index); //得到文件索引
        //             console.log(file); //得到文件对象
        //             // console.log(result); //得到文件base64编码，比如图片
        //             $("#fileimg").attr('src',result)
        //         });
        //     }
        // });
    })
</script>
</body>
</html>