body{
    text-align:center;
    line-height: 24px;
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
hr{
    background-color: #FEFAF5;
    /*height:0.5px;*/
}
.login{
    padding-top:15px;
}
.first{
    height: 220px;
    background-color: #c82b3a;
    padding:0px;
    color: #FEFAF5;
}
.top{

}
.logo{
    text-align: center;
    margin:5% auto 2px auto;
}
.middle{
    margin-bottom: 22px;
    font-size: unset;
}
.down{
    font-size: 19px;
}
.down .col-md .menu{
    text-decoration: none;
    color: #FEFAF5;
}
.down .col-md .menu a:link{
    text-decoration: none;
    color: #FEFAF5;
}

/*body*/
.launch{
    margin:15px;
}
/*轮播图*/
.Carousel{
    margin-bottom: 5px;
}
.massage{
    margin-top: 15px;
    text-align: left;
}
ul{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.apt h4{
    display: inline-block;
    /**display: inline;
    *zoom: 1;*/
    font-size: 24px;
    color: #000;
    line-height: 26px;
    margin-right: 20px;
    font-weight: 400;
}
.apt .entit {
    border-bottom: 1px solid #b2b2b2;
    height: 11px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 8px;
}
.apt .entit span {
    color: #b2b2b2;
    font-size: 12px;
    padding-right: 5px;
    line-height: 11px;
    background: #fff;
    display: inline-block;
    /**display: inline;
    *zoom: 1;*/
    position: absolute;
    bottom: -1px;
}
.ulist li {
    padding: 0 55px 0 30px;
    position: relative;
    line-height: 38px;
    height: 38px;
    overflow: hidden;
}
.ulist li .num {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 10px;
    font-size: 16px;
}
.menu{
    text-decoration: none;

}

.ulist li a {
    color: #333;
    font-size: 16px;
    height: 38px;
    display: block;
    overflow: hidden;
    text-decoration: none;
}
.apc a {
    text-decoration: none;
}

/*a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
    color: #585858;
}
a {
    color: #333;
    text-decoration: none;
}*/
.ulist li .tm {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #999;
    top: 0;
    width: 35px;
    line-height: 38px;
    text-align: right;
}
.ulist li .top3 {
    background: #dd5d69;
    color: #fff;
}
#Footer {
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
    background: #f0f0f0;
    position: relative;
    margin-top: 50px;
    /*transition: transform .5s ease 0s;*/
    -webkit-transition: -webkit-transform .5s ease 0s;
}
#Footer p {
    padding: 5px 0;
    text-align: center;
}
#Footer .top-nav {
    color: #d6d6d6;
    font-size: 12px;
}
#Footer .site-info {
    font-size: 12px;
    color: #999;
}
#Footer .site-info span {
    padding: 0 3px;
    color: #369;
}
#Footer a {
    text-decoration: none;
}